* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body {
    background: black;
    color: white;
}



img {
    max-width: 100%;
    display: block;
}

/* For setting Sidebar and Main horizontally  */
.container {
    display: flex;
}

/* sidebar section  */
.sidebar {

    width: 15vw;
    height: 100vh;
    border-right: 1px solid white;



}

.sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar ul li {
    margin: 2.5rem 0;

}

.sidebar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 900;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}

.sidebar ul li a:hover {
    color: gray;
    transition: .4s ease-in;
}

/* Main section  */
.main {
    width: 85vw;

}

.main .hamburger {
    display: none;
}

/* blog container inside main  */
.blog-container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.blog-container .moreinfo
 {
    color: rgb(255, 64, 0);
    padding: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.dnone{
    display: none;
}
/* styling butttons */
.blog-container .btn{
    color: red;
    background-color: aqua;
    padding: .3rem;
    border-radius: 1rem;
    margin-top: .2rem;
    margin-bottom: .3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.blog-container .btn:hover{
    color: black;

}
@media (max-width:675px) {

    /* sidebar section  */
    .sidebar {
        width: 35vw;
        transition: .4s ease-in-out;
    }

    .opacity_width {
        opacity: 0;
        width: 0vw;
    }

    /* Main Section  */
    .main_small_width {
        width: 100vw;
    }

    .main .hamburger {
        display: block;

    }

    .ham {
        position: absolute;
        top: 1%;
        left: 2%;
        filter: invert(100%);
    }

    .cross {
        position: absolute;
        top: 1%;
        left: 23%;
        filter: invert(100%);
    }

    /* blog container inside main  */
    .blog-container {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: .5rem;
    }
    .blog-container  h3{
         font-size: 1rem;
         font-weight: unset;

    }

    .blog-container .moreinfo
    {
        color: rgb(255, 64, 0);
        padding: .2rem;
        font-family:'Times New Roman', Times, serif;

    }

    .dnone{
        display: none;
    }
    /* styling buttons  */
    .blog-container .btn{
        color: red;
        background-color: aqua;
        padding: .3rem;
        border-radius: 1rem;
        margin-top: .2rem;
    }
    .blog-container .btn:hover{
        color: black;
   
    }

 
}